.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

* {
  font-family: 'Montserrat', sans-serif;
}
/* Logo Field */
.logoField {
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: #114c84;
  margin: 10px 0px;
}

/* Search Field */
.searchField {
  float: left;
  width: 80%;
  margin: 10px 0px;
}
/* .searchField:after { 
    content: " "; 
    display: block;
    clear: both;
}  */
.searchBox {
  border-bottom: 1px solid #9facdb;
  float: left;
  width: 100%;
}
.searchIcon {
  color: #9facdb;
  text-align: center;
  padding: 5px;
}
.searchInput {
  outline: none;
  border: none;
  width: 95%;
}
.searchInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9facdb;
  opacity: 1; /* Firefox */
}
.searchInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9facdb;
}
.searchInput::-ms-input-placeholder { /* Microsoft Edge */
  color: #9facdb;
}

/* Sort Field */
.sortField {
  float: right;
  margin: 10px 0px;
}
.sortButton {
  width: 70px;
  color: #114c84;
  background-color: white;
  border-radius: 8px;
  border:none;
  outline: none;
  transition-duration: 0.4s;
}
.sortButton:hover {
  color: #ffffff;
  background-color: #114c84;
  border-radius: 8px;
  border:none;
  transition-duration: 0.4s;
}
.sortButton:focus {
  outline: none;
}

/* Tag List Field */
.tagListButton {
  font-size: 14px;
  text-align: justify;
  padding: 5px 12px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  border:1px #212529 solid;
  outline: none;
  transition-duration: 0.4s;
  text-transform: uppercase;
  display: block;
  max-width: 100%;
  word-wrap: break-word
}
.tagListButton:focus {
  outline: none;
}
/* Tag Button */
.tagContainer {
  margin-top: 5px;
  float: left;
}
.tagButton {
  font-size: 12px;
  padding: 3px 10px;
  margin-right: 5px;
  margin-bottom: 3px;

  background: none;
  border-radius: 5px;
  border:1px #212529 solid;
  outline: none;
  transition-duration: 0.4s;
  text-transform: uppercase;
  display: inline-block;
}
.tagButton:focus {
  outline: none;
}

/* Note Field */
.viewNoteContainer {
  background-color: #fbf8ee;
  margin-bottom: 10px;
  position: relative;
  border-radius: 10px;
}
.viewNoteContainer > .colorPanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #114c84;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.viewNoteContainer > .contentPanel {
  margin-left: 10px;
  padding: 10px 15px;
}
.viewNoteContainer .keyWord {
  font-size: 16px;
  margin: 0px;
 }
.viewNoteContainer .keyWord {
  font-size: 16px;
  margin: 0px;
 }
.viewNoteContainer .date {
 font-size: 12px;
 margin-bottom: 0px;
}
.viewNoteContainer > .contentPanel > .iconPanel {
  float: right;
}
.viewNoteContainer > .contentPanel > .iconPanel i {
  color: #9facdb;
  margin-left: 5px;
}

/* Add Tag */
.addTagContainer{
  display: inline-block;
}
.addTagContainer form {
  display: inline-block;
}
.addTagContainer input[type="text"] {
  width: 200px;
  padding-right: 50px;
}
.addTagContainer input[type="submit"] {
  margin-left: -50px;
  width: 50px;
}







/* Add Tag Style */
.tagInputContainer {
  border: 1px solid red;

}

.tagInputContainer .tagList > div{
  /* display: inline-block; */
  float: left;
  margin-right: 10px;
  padding: 2px;
}

.tagInputContainer .tagList .closeButton {
  float: right;
  margin-left: 10px;
}

.tagInputContainer form {
  display: inline-block;
  position: relative;
  clear: both;
}

.tagInputContainer form input[type="text"] {
  padding-right: 80px;
  border: none;
  background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.tagInputContainer form input[type="text"]:focus {
  outline:none !important;
}
.tagInputContainer form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
}

.tagInputContainer .suggestion > div {
  background-color: white;
}

.tagInputContainer .suggestion > div:hover {
  background-color: green;
}

.active {
  background-color: yellow;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
